<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <!-- Barra de navegação aqui -->
    </nav>

    <!-- Local para inserir o código de mensagens flash -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <footer>
        <!-- Rodapé aqui -->
    </footer>
</body>
</html>